

<!--Contenido-->

<div class="selector">
    <strong>Perfil</strong>
</div>
<div class="ventana">
    <div class="imagen"><img src="profile.png"></div>
    <label>Nombre: <input></label>
    <label>Telefono: <input></label>
    <label>Dirección: <input></label>
    <label>Cédula: <input></label>
    <label>Placas de vehiculo: <input></label>
    <button class="ca-button">Editar</button>
</div>
<!--Menu-->
<nav>
    <div class="menu" (click)="swvisible()">
        III
    </div>
</nav>




<div class="contenidos oculto" #menu>
    <ul>
        <li><a href="" class="li">Inicio</a></li>
        <li><a href="" class="li">Menu principla</a></li>
        <li><a href="" class="li">Perfil</a></li>
        
    </ul>
</div>
