/* Contenedor general */
.ventana {
    perspective: 1000px;
    width: 100%;
    max-width: 400px;
    margin: auto;
  }
  
  /* Contenedor rotatorio */
  .container {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s;
  }
  
  /* Formularios */
  .form-container {
    position: -2;
    width: 100%;
    backface-visibility: hidden;
    top: 0;
    left: 0;
  }
  
  /* Vista de inicio de sesión (frontal) */
  .front {
    transform: rotateY(0deg);
  }
  
  /* Vista de registro (trasera) */
  .back {
    transform: rotateY(180deg);
  }
  
  /* Clase para activar la rotación */
  .container.rotated {
    transform: rotateY(180deg);
  }
  
  .cp-input {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  /* Resto de estilos para mantener el diseño de botones y campos */
  .exit a {
    position: absolute;
    top: 30px;
    right: 40px;
    color: var(--blueD);
    font-size: 50px;
    text-decoration: none;
  }
  