<!--Contenidos-->

<div class="selector">
    <strong>Horarios de atención</strong>
</div>
<div class="ventana vertical">
    <div class="horario">
        <section class="ah">
            <Strong>General</Strong>
            <div class="dato">
                <p>Lunes - Viernes</p>
                <P>6:45 AM - 8:00PM</P>
            </div>
            <div class="dato">
                <p>Sabados - Domingos</p>
                <p>8:00AM - 6:00PM</p>
            </div>
        </section>
        <button class="ah-button button">Editar</button>
    </div>
    <div class="horario">
        <section class="ah">
            <Strong>Especial</Strong>
            <div class="dato">
                <p>31/12/2024</p>
                <P>No abre</P>
            </div>
        </section>
        <button class="ah-button button">Editar</button>
    </div>
    <div class="horario">
        <section class="ah">
            <Strong>Especial</Strong>
            <div class="dato">
                <p>31/10/2024</p>
                <P>8:00AM - 1:00PM</P>
            </div>
        </section>
        <button class="ah-button button">Editar</button>
    </div>
    <button class="ah-crear button ae-button">Crear</button>
</div>


<!--Menu-->
<nav>
    <div class="menu">
        <label class="hamburger">
            <input type="checkbox" (click)="swvisible()">
            <svg viewBox="0 0 32 32">
              <path class="line line-top-bottom" d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"></path>
              <path class="line" d="M7 16 27 16"></path>
            </svg>
          </label>
    </div>
    
</nav>
<div class="contenidos oculto" #menu>
    <ul>
        <li><a class="li" href="">Inicio</a></li>
        <li><a class="li" href="admin/principal">Menu principal</a></li>
        <li><a class="li" href="admin/usuarios">Usuarios</a></li>
        <li><a class="li" href="admin/espacio">Gestion Espacio</a></li>
        <li><a class="li" href="admin/tarifas">Gestion Tarifas</a></li>
        <li><a class="li" href="admin/horarios">Horarios de Atencion</a></li>
        <li><a class="li" href="admin/arriendos">Arriendos</a></li>
    </ul>
</div>
