<div class="Parqueadero">
    <h2>Parqueadero</h2>
    <div class="espacios" id="espacios">
        <div class="fila">
            <label class="ocupado"></label>
            <label class="ocupado"></label>
            <label class="reservado"></label>
            <label class="ocupado"></label>
            <label class="ocupado"></label>
            <label class="ocupado"></label>
            <label class="reservado"></label>
            <label class="reservado"></label>
        </div>
        <div class="fila">
            <label class="disponible"></label>
            <label class="ocupado"></label>
            <label class="ocupado"></label>
            <label class="reservado"></label>
            <label class="disponible"></label>
            <label class="ocupado"></label>
            <label class="disponible"></label>
            <label class="reservado"></label>
        </div>
        <div class="fila">
            <label class="ocupado"></label>
            <label class="reservado"></label>
            <label class="reservado"></label>
            <label class="reservado"></label>
            <label class="disponible"></label>
            <label class="reservado"></label>
            <label class="ocupado"></label>
            <label class="disponible"></label>
        </div>
        <div class="fila">
            <label class="disponible"></label>
            <label class="reservado"></label>
            <label class="disponible"></label>
            <label class="disponible"></label>
            <label class="ocupado"></label>
            <label class="reservado"></label>
            <label class="disponible"></label>
            <label class="reservado"></label>
        </div>
        <div class="fila">
            <label class="disponible"></label>
            <label class="ocupado"></label>
            <label class="ocupado"></label>
            <label class="reservado"></label>
            <label class="reservado"></label>
            <label class="disponible"></label>
            <label class="ocupado"></label>
            <label class="ocupado"></label>
        </div>
    </div>
    <div class="marcadores">
        <label class="disponible">Disponible</label>
        <label class="reservado">Reservado</label>
        <label class="ocupado">Ocupado</label>
    </div>
</div>
