

<!--Contenido-->

<div class="selector">
    <strong>Gestión espacio</strong>
</div>
<div class="ventana vertical">
    <div class="espacio">
        <label class="ae-input"><p>Numero de filas</p> <input  type="text" [(ngModel)]="filas"></label>
        <label class="ae-input"><p>Numero de columnas</p> <input  type="text" [(ngModel)]="columnas"></label>
    </div>
    <button class="ae-button button bajo absoluto editar-espacio" (click)="guardarDatos()">Editar</button>
    <app-parqueadero></app-parqueadero>
</div>


<app-pop-ups></app-pop-ups>
<app-confirm-dialogs></app-confirm-dialogs>
<app-menu></app-menu>