<p>arriendos works!</p>



<!--Menu-->
<nav>
    <div class="menu" (click)="swvisible()">
        III
    </div>
</nav>
<div class="contenidos oculto" #menu>
    <ul>
        <li><a class="li" href="">Inicio</a></li>
        <li><a class="li" href="admin/principal">Menu principal</a></li>
        <li><a class="li" href="admin/usuarios">Usuarios</a></li>
        <li><a class="li" href="admin/espacio">Gestion Espacio</a></li>
        <li><a class="li" href="admin/tarifas">Gestion Tarifas</a></li>
        <li><a class="li" href="admin/horarios">Horarios de Atencion</a></li>
        <li><a class="li" href="admin/arriendos">Arriendos</a></li>
    </ul>
</div>
