<div class="selector">
    <strong>Historial</strong>
  </div>
  <div class="ventana completo historial-container">

    <section class="no-border aa-section arriendoss">
      <p>Placa</p>
      <p>Estado</p>
      <p class="extra">Inicio</p>
      <p class="extra">Fin
    </p>
      <p class="extra">Nombre</p>
    </section>
       <!-- Listado dinámico de arriendos -->
<section *ngFor="let arriendo of arriendos" class="aa-section arriendoss">
  <div class="exit"><a>X</a></div>
  <p class="extra"><b>{{ arriendo.fecha }}</b></p>
  <p >{{ arriendo.estado }}</p>
  <p class="extra">{{ arriendo.hora_entrada }}</p>
  <p class="extra">{{ arriendo.hora_salida }}</p>
</section>
  
  </div>

<app-menu-c></app-menu-c>