<div class="selector">
    <strong>Historial</strong>
  </div>
  <div class="ventana completo historial-container">

    <section class="no-border aa-section arriendoss">
      <p>Fecha</p>
      <p>Estado</p>
      <p class="extra">Hora inicio
    </p>
      <p class="extra">Hora fin</p>
    </section>
       <!-- Listado dinámico de arriendos -->
<section *ngFor="let arriendo of arriendos" class="aa-section arriendoss">
  <p><b>{{ arriendo.fecha }}</b></p>
  <p>{{ arriendo.estado }}</p>
  <p class="extra">{{ arriendo.hora_entrada }}</p>
  <p class="extra">{{ arriendo.hora_salida }}</p>
</section>
  
  </div>

<app-menu-c></app-menu-c>