<div class="selector">
    <strong>Arriendos</strong>
  </div>
  
  <div class="ventana vertical">
    <section class="no-border aa-section arriendoss">
      <p>Eliminar</p>
      <p><b>Placa</b></p>
      <p class="extra">Inicio</p>
      <p class="extra">Fin</p>
      <p class="extra">Nombre</p>
    </section>
  
    <!-- Listado dinámico de arriendos -->
<section *ngFor="let arriendo of arriendos" class="aa-section arriendoss">
    <div class="exit"><a (click)="eliminarArriendo(arriendo.usuario.placa)">X</a></div>
    <p><b>{{ arriendo.usuario.placa }}</b></p>
    <p class="extra">{{ arriendo.fechaInicio | date:'dd/MM/yyyy'}}</p>
    <p class="extra">{{ arriendo.fechaFin  | date:'dd/MM/yyyy' }}</p>
    <p class="extra">{{ arriendo.usuario.nombre }}</p>
  </section>
  
  
    <button class="button aa-button ae-button" (click)="desplegarCrear()">Agregar</button>
  </div>
  
  <div class="crearArriendos" #crear>
    <div class="exit"><a (click)="desplegarCrear()">X</a></div>
    <div class="selector">
      <strong>Crear</strong>
    </div>
    <label>
      Placa
      <input type="text" [(ngModel)]="nuevo.placa" (blur)="buscarUsuarioPorPlaca()" placeholder="Placa del vehículo" />
    </label>
    <label>
      Nombre
      <input type="text" [(ngModel)]="nuevo.nombreUsuario" disabled placeholder="Nombre del usuario" />
    </label>
    
    <label>
      Inicio
      <input type="date" [(ngModel)]="nuevo.inicio">
    </label>
    <label>
      Fin
      <input type="date" [(ngModel)]="nuevo.fin">
    </label>
    <button class="ah-button button" (click)="seleccionarArrendar()">Lugar</button>
    <button class="ah-button button" (click)="crearArriendo()">Guardar</button>
  </div>
  
  <app-parqueadero class="absolute parking-hidden" #arrendar></app-parqueadero>

  <app-menu></app-menu>