<div class="selector">
    <strong>Arriendos</strong>
  </div>
  
  <div class="ventana vertical">
    <section class="no-border aa-section">
      <p>Eliminar</p>
      <b>Placa</b>
      <p >Estado</p>
      <p class="extra">Inicio</p>
      <p class="extra">Fin</p>
      <p class="extra">Nombre</p>
    </section>
  
    <!-- Listado dinámico de arriendos -->
<section *ngFor="let arriendo of arriendos" class="aa-section">
    <div class="exit"><a (click)="eliminarArriendo(arriendo.id)">X</a></div>
    <b>{{ arriendo.placa }}</b>
    <p>{{ arriendo.estado }}</p>
    <p class="extra">{{ arriendo.inicio }}</p>
    <p class="extra">{{ arriendo.fin }}</p>
    <p class="extra">{{ arriendo.nombreUsuario }}</p>
  </section>
  
  
    <button class="button aa-button ae-button" (click)="desplegarCrear()">Agregar</button>
  </div>
  
  <div class="crearArriendos" #crear>
    <div class="exit"><a (click)="desplegarCrear()">X</a></div>
    <div class="selector">
      <strong>Crear</strong>
    </div>
    <label>
      Placa
      <input type="text" [(ngModel)]="nuevoArriendo.placa" (blur)="buscarUsuarioPorPlaca()" placeholder="Placa del vehículo" />
    </label>
    <label>
      Nombre
      <input type="text" [(ngModel)]="nuevoArriendo.nombreUsuario" disabled placeholder="Nombre del usuario" />
    </label>
    
    <label>
      Inicio
      <input type="date" [(ngModel)]="nuevoArriendo.inicio" />
    </label>
    <label>
      Fin
      <input type="date" [(ngModel)]="nuevoArriendo.fin" />
    </label>
    <label>
      Estado
      <select [(ngModel)]="nuevoArriendo.estado">
        <option value="Pendiente">Pendiente</option>
        <option value="Dentro">Dentro</option>
        <option value="Finalizado">Finalizado</option>
      </select>
    </label>
    <button class="ah-button button" (click)="crearArriendo()">Guardar</button>
  </div>
  

  <app-menu></app-menu>