<div class="selector">
    <strong>Arriendos</strong>
  </div>
  
  <div class="ventana vertical">
    <section class="no-border aa-section arriendoss">
      <p>Eliminar</p>
      <p><b>Placa</b></p>
      <p class="extra">Inicio</p>
      <p class="extra">Fin</p>
      <p class="extra">Nombre</p>
    </section>
  
    <!-- Listado dinámico de arriendos -->
<section *ngFor="let cliente of usuarios" class="aa-section arriendoss">
    <div class="exit"><a (click)="eliminarArriendo(cliente.uid)">X</a></div>
    <p><b>{{ cliente.placa }}</b></p>
    <p class="extra">{{ cliente.arriendo.fechaInicio| date:'dd/MM/yyyy'}}</p>
    <p class="extra">{{ cliente.arriendo.fechaFin  | date:'dd/MM/yyyy' }}</p>
    <p class="extra">{{ cliente.nombre }}</p>
  </section>
  
  
    <button class="button aa-button ae-button" (click)="desplegarCrear()">Agregar</button>
  </div>
  
  <div class="crearArriendos" #crear>
    <div class="exit"><a (click)="desplegarCrear()">X</a></div>
    <div class="selector">
      <strong>Crear</strong>
    </div>
    <label>
      Placa
      <input type="text" 
        [(ngModel)]="nuevo.placa" 
        (input)="filtrarPlacas()" 
        placeholder="Placa del vehículo" 
        list="placas-sugeridas"/>
    </label>
    <label *ngFor="let seleccion of placasFiltradas ">
      <p class="placa">{{seleccion.placa}}</p><button class="button usar" (click)="seleccionarPlaca(seleccion)">Usar</button>
    </label>    
    <label>
      Nombre
      <input type="text" [(ngModel)]="nuevo.nombreUsuario" disabled placeholder="Nombre del usuario" />
    </label>
    
    <label>
      Inicio
      <input type="date" [(ngModel)]="nuevo.inicio">
    </label>
    <label>
      Fin
      <input type="date" [(ngModel)]="nuevo.fin">
    </label>
    <button class="ah-button button" (click)="seleccionarArrendar()">Lugar</button>
    <button class="ah-button button" (click)="crearArriendo()">Guardar</button>
  </div>
  
  <app-parqueadero class="absolute parking-hidden" #arrendar></app-parqueadero>

  <app-menu></app-menu>