
<main>
    <article>
        <img src="parqueadero1.webp" class="bg">
        <div class="capa1 capa"></div>
        <p class="texto1">Uso de plataforma firebase para autenticación de usuarios con google, y almacenamiento de datos en firestore NoSQL</p>
        <a href="cliente/principal" class="menu-button  inic">Iniciar Sesion</a> <!-- por ahora sirve para clientes-->
    </article>
    <article>
        <img src="parqueadero1.webp" class="bg bg1">
        <div class="capa"></div>
        <p>El diseño de la página busca ser lo más simple tanto para usuarios y administradores, con enfoques de UX/UI</p>
        <a href="admin/principal" class="menu-button inic">Iniciar Sesion</a><!-- por ahora sirve para Administradores-->
    </article>
    <article>
        <img src="parqueadero1.webp" class="bg">
        <div class="capa1 capa"></div>
        <p class="texto1">Pagina responsive, con vistas para movil y desktop, la vista responsive de tablets no es específica pero funciona bien con el modelo de escritorio</p>
        <a href="cliente/principal" class="menu-button inic">Iniciar Sesion</a> <!-- por ahora sirve para clientes-->
    </article>
    <article>
        <img src="parqueadero1.webp" class="bg bg1">
        <div class="capa"></div>
        <p>Trabajamos buscando soluciones para que las solicitudes sean más eficientes y seguras</p>
        <a href="admin/principal" class="menu-button inic">Iniciar Sesion</a><!-- por ahora sirve para Administradores-->
    </article>
</main>
<footer>
    <div>
        Página creada por los estudiantes <br>
        Jorge Cueva y Samantha Suquilanda
    </div>
    <div>
        Universidad Politecnica Salesiana<br>
        Cuenca-Ecuador<br>
        2024-2025
    </div>
</footer>


<nav class="principal">
    <img src="Logo.png">

    <link>
    <a class="menu-button" href="login">Iniciar Sesion</a>
</nav>