<!--Contenidos-->
<div class="selector">
  <strong>Menu principal</strong>
</div>

<div class="ventana mprincipal">
<article class="datos-bienvenida">
  <article class="bienvenida ">
    <p>Bienvenido {{nombre}}, el estado actual del parqueadero es {{estado}}</p>
  </article>
  <article class="bienvenida ">
    <p>{{motd}}</p>
  </article>
</article>

<div class="tc">
    <div class="tarifas">
        <h2>Tarifas</h2>
        <div *ngFor="let tarifa of tarifas">
            <label>
                <p>{{ tarifa.descripcion }}</p>
                <s>${{ tarifa.precio }}</s>
            </label><br>
        </div>
    </div>
</div>

<app-parqueadero></app-parqueadero>
</div>

<app-menu></app-menu>
