

<!--Contenidos-->
<div class="selector">
    <strong>Menu principal</strong>
</div>
<div class="ventana mprincipal">
  <article class="datos-bienvenida">
    <article class="bienvenida ">
      <p>Bienvenido {{nombre}} el estado actual del parqueadero es {{estado}}</p>
    </article>
    <article class="bienvenida ">
      <p>{{motd}}</p>
    </article>
    <article class="bienvenida ">
      <p>Plazas disponibles ahora: {{plazas}}</p>
    </article>
  </article>
  <div class="tc">
      <div class="tarifas">
          <h2>Tarifas</h2>
        <label>
            <p>Uso mínimo</p>
            <s>${{val1}}</s>
          </label><br>
          <label>
            <p>1-1:30 horas</p>
            <s>${{val2}}</s>
          </label><br>
          <label>
            <p>1:30-2 horas</p>
            <s>${{val3}}</s>
          </label><br>
          <label>
            <p>2-2:30 horas</p>
            <s>${{val4}}</s>
          </label><br>
          <label>
            <p>2:30-3 horas</p>
            <s>${{val5}}</s>
          </label><br>
          <label>
            <p>3-3:30 horas</p>
            <s>${{val6}}</s>
          </label><br>
          <label>
            <p>3:30-4 horas</p>
            <s>${{val7}}</s>
          </label><br>
          <label>
            <p>4 horas en adelante</p>
            <s>${{val8}}</s>
          </label>
        </div>
    </div>
</div>


<app-menu></app-menu>