<!--Contenidos-->

<div class="selector">
    <strong>Horarios de atención</strong>
</div>
<div class="ventana vertical">
    <div class="horario">
        <section class="ah">
            <Strong>General</Strong>
            <div class="dato">
                <p>Lunes - Viernes</p>
                <P>{{horaIniciogl}} - {{horaFingl}}</P>
            </div>
            <div class="dato">
                <p>Sabados - Domingos</p>
                <p>{{horaIniciogs}} - {{horaFings}}</p>
            </div>
        </section>
        <button class="ah-button button" (click)="desplegarEditarGeneral()">Editar</button>
    </div>
    <div class="horario" *ngFor="let horario of horarios">
        <section class="ah">
            <div class="exit"><a (click)="eliminar(horario)">X</a></div>
            <Strong>{{horario.nombre}}</Strong>
            <div class="dato">
                <p>{{horario.fechaInicio  | date:'dd/MM/yyyy'}} - {{horario.fechaFin  | date:'dd/MM/yyyy'}} </p>
                <P>{{horario.fechaInicio | date:'HH:mm'}} - {{horario.fechaFin | date:'HH:mm'}}</P>
            </div>
        </section>
        <button class="ah-button button" (click)="desplegarEditar(horario)">Editar</button>
    </div>
    <button class="ah-crear button ae-button bajo margen-bottom" (click)="desplegarCrear()">Crear</button>
</div>

<div class="crearArriendos crearArriend" #crear>
    <div class="exit"><a (click)="desplegarCrear()">X</a></div>
    <div class="selector"> <strong>Crear</strong> </div>
    <div>
      <label>
        Nombre:
        <input type="text" [(ngModel)]="nombreHorario">
      </label><br><br>
    
      <label>
        Fecha de apertura:
        <input type="date" [(ngModel)]="fechaApertura">
      </label><br><br>
    
      <label>
        Hora de apertura:
        <input type="time" [(ngModel)]="horaApertura">
      </label><br><br>
    
      <label>
        Fecha de cierre:
        <input type="date" [(ngModel)]="fechaCierre">
      </label><br><br>
    
      <label>
        Hora de cierre:
        <input type="time" [(ngModel)]="horaCierre">
      </label><br><br>
      </div>
      <button (click)="crearHorario()" class="ah-button button">Crear</button>
</div>

<div class="crearArriendos" #editar>
    <div class="exit"><a (click)="desplegarEditar(null)">X</a></div>
    <div class="selector"> <strong>Editar</strong> </div>
    <div>
        <label>
          Nombre:
          <input type="text" [(ngModel)]="nombreHorario">
        </label><br><br>
      
        <label>
          Fecha de apertura:
          <input type="date" [(ngModel)]="fechaApertura">
        </label><br><br>
      
        <label>
          Hora de apertura:
          <input type="time" [(ngModel)]="horaApertura">
        </label><br><br>
      
        <label>
          Fecha de cierre:
          <input type="date" [(ngModel)]="fechaCierre">
        </label><br><br>
      
        <label>
          Hora de cierre:
          <input type="time" [(ngModel)]="horaCierre">
        </label><br><br>
    </div>
    <button (click)="guardarEditar()" class="ah-button button">Guardar</button>
      
</div>

<div class="crearArriendos general" #editarGeneral>
  <div class="exit">
    <a (click)="desplegarEditarGeneral()">X</a>
  </div>
  <div class="selector">
    <strong>Editar General</strong>
  </div>
  <div>
    <fieldset>
      <legend>Horario de lunes a viernes</legend>
      <label>
        Hora de apertura:
        <input type="time" name="aperturaLunesViernes" [(ngModel)]="horaIniciogl">
      </label><br><br>
      
      <label>
        Hora de cierre:
        <input type="time" name="cierreLunesViernes" [(ngModel)]="horaFingl">
      </label>
    </fieldset>
    <br>
  
    <!-- Horarios sábado y domingo -->
    <fieldset>
      <legend>Horario de sábado y domingo</legend>
      <label>
        Hora de apertura:
        <input type="time" name="aperturaSabadoDomingo" [(ngModel)]="horaIniciogs">
      </label><br><br>
      
      <label>
        Hora de cierre:
        <input type="time" name="cierreSabadoDomingo" [(ngModel)]="horaFings">
      </label>
    </fieldset>
    
  </div>
  <button (click)="guardarGeneral()" class="ah-button button">Guardar General</button>
</div>


<app-menu></app-menu>