<!-- Contenidos -->
<div class="selector">
  <strong>Gestión Tarifas</strong>
</div>

<div class="ventana vertical at">
  <div>
      <label class="ae-input motd">
          <p>Mensaje del Día</p> 
          <textarea [(ngModel)]="motd"></textarea>
      </label>
  </div>

  <div class="tarifas">
      <h2>Tarifas</h2>
      <div *ngFor="let tarifa of tarifas">
          <label>
              <p>{{ tarifa.descripcion }}</p>
              <input type="text" [(ngModel)]="tarifa.precio" />
          </label><br>
      </div>

      <button class="ae-button button bajo absoluto" (click)="guardarDatos()">Guardar Tarifas</button>
  </div>
</div>

<app-menu></app-menu>
