<!-- Contenidos -->
<div class="selector">
  <strong>Gestión Tarifas</strong>
</div>

<div class="ventana vertical at">
  <div>
      <label class="ae-input motd">
          <p>Mensaje del Día</p> 
          <textarea [(ngModel)]="motd"></textarea>
      </label>
  </div>

  <div class="tarifas">
      <h2>Tarifas</h2>
      <section class="no-border aa-section arriendoss">
        <p>X</p>
        <p>Desde</p>
        <p>Hasta</p>
        <p>Precio</p>
      </section>
    

      <div *ngFor="let tarifa of tarifas" class="tarifa-simple">
        <section class="aa-section arriendoss input">
            <p class="eliminar-tarifa" (click)="EliminarTarifa(tarifa)">X</p>
            <input type="number" [(ngModel)]="tarifa.desde" />
            <input type="number" [(ngModel)]="tarifa.hasta" />
            <input type="number" [(ngModel)]="tarifa.precio" />
          </section>
      </div>

      <button class="ae-button button bajo " (click)="desplegarCrearTarifa()">Crear Tarifa</button>
      <button class="ae-button button bajo absoluto" (click)="guardarDatos()">Guardar Cambios</button>

  </div>

  <div class="crearArriendos crearTarifas" #crear>
    <div class="exit"><a (click)="desplegarCrearTarifa()">X</a></div>
    <div class="selector"> <strong>Crear tarifa</strong> </div>
    <label>
        <p>Hasta:</p>
        <input type="text" [(ngModel)]="hasta">
    </label>
    <label>
        <p>Desde:</p>
        <input type="text" [(ngModel)]="desde">
    </label>
    <label>
        <p>Precio:</p>
        <input type="text" [(ngModel)]="Precio">
    </label>

    <button class="ah-button button" (click)="CrearTarifa()">Crear</button>
      
</div>
</div>

<app-pop-ups></app-pop-ups>
<app-confirm-dialogs></app-confirm-dialogs>
<app-menu></app-menu>
