
<div class="container" [ngClass]="{ 'rotated': isRegisterView }">
    <!-- Ventana de Inicio de Sesión -->
    <div class="login-form form-container front">
      <div class="heading">Inicia Sesión</div>
      <div class="form">
        <input required class="input" type="email" placeholder="Correo Electrónico">
        <input required class="input" type="password" placeholder="Contraseña">
        <span class="forgot-password"><a href="#">¿Olvidaste tu contraseña?</a></span>
        <span class="forgot-password register"><a (click)="toggleView()">¿Eres nuevo? Regístrate</a></span>
        <input class="login-button" type="submit" value="Iniciar Sesión">
      </div>

      <!-- Opción de inicio de sesión con Google -->
      <div class="social-account-container">
        <span class="title">Puedes iniciar sesión con</span>
        <div class="social-accounts">
          <button class="social-button google" (click)="logguear()">
            <svg class="svg" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 488 512">
              <path d="M488 261.8C488 403.3 391.1 504 248 504 110.8 504 0 393.2 0 256S110.8 8 248 8c66.8 0 123 24.5 166.3 64.9l-67.5 64.9C258.5 52.6 94.3 116.6 94.3 256c0 86.5 69.1 156.6 153.7 156.6 98.2 0 135-70.4 140.8-106.9H248v-85.3h236.1c2.3 12.7 3.9 24.9 3.9 41.4z"></path>
            </svg>
          </button>
        </div>
      </div>

    </div>
    
    <div class="register-container">
      <div class="heading">Regístrate</div>
      <div class="form">
        <label class="cp-input">Nombre: <input required class="input" type="text" [(ngModel)]="nombre" ></label>
        <label class="cp-input">Teléfono: <input required class="input" type="text" [(ngModel)]="telefono"></label>
        <label class="cp-input">Dirección: <input required class="input" type="text" [(ngModel)]="direccion"></label>
        <label class="cp-input">Cédula: <input required class="input" type="text" [(ngModel)]="cedula"></label>
        <label class="cp-input">Placas de vehículo: <input required class="input" type="text" [(ngModel)]="placa"></label>
        <label class="cp-input">Contraseña: <input required class="input" type="password" [(ngModel)]="pass"></label>
        <label class="cp-input">Confirmar Contraseña: <input required class="input" type="password" [(ngModel)]="confPass"></label>
        <span class="forgot-password register"><a (click)="toggleView()">¿Ya tienes una cuenta? Inicia Sesión</a></span>
        <input class="login-button" type="submit" value="Registrarse" (click)="register()">
      </div>

    </div>

</div>

<div class="exit"><a href="">X</a></div>