<div class="selector">
    <strong>Tickets</strong>
</div>
<div class="ventana vertical">
    <section class="aa-section arriendoss no-border">
        
        <p> Dia</p>
        <p> Semana </p>
        <p> Mes</p>
        <!-- <div class="exit">
            <a >X</a>
        </div> -->
    </section>

    <section class="aa-section arriendoss no-border">
        
        <p> Cliente</p>
        <p> Fecha</p>
        <p> Precio</p>
        
    </section>
    <section class="aa-section arriendoss">
        
        <p> Cliente</p>
        <p> Fecha</p>
        <p> Precio</p>
        
    </section>
</div>

<app-menu></app-menu>