
<!--Contenido-->

<div class="selector">
  <strong>Perfil</strong>
</div>
<div class="ventana perfil">
  <div class="imagen"><img src="profile.webp"></div>
  <div class="datos">
      <label class="cp-input">Nombre: <input [(ngModel)]="nombre" ></label>
      <label class="cp-input">Telefono: <input [(ngModel)]="telefono"></label>
      <label class="cp-input">Dirección: <input [(ngModel)]="direccion"></label>
      <label class="cp-input">Cédula: <input [(ngModel)]="cedula"></label>
      <label class="cp-input">Placas de vehiculo: <input [(ngModel)]="placas"></label>
      <button class="cp button ae-button " (click)="guardarInfo()">Editar</button>
  </div>
  

</div>


<app-menu-c></app-menu-c>