/* You can add global styles to this file, and also import other style files */

:root{
    --white:#fff;

    --blueD: #6096BA ;

    --blueL:#A4C1D5 ;

    --Black:#231F20 ;   /*uso solo si es necesario;*/
}

* {
  font-family: "Exo 2", serif;
  font-optical-sizing: auto;
  font-style: normal;

}

body{
    position: absolute;
    top: calc(13vh +  3px);
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

    /* login  */
    .exit a{
        position: absolute;
        top: 30px;
        right: 40px;
        color: var(--blueD);
        font-size: 50px;
        text-decoration: none;
    }

      .heading {
        text-align: center;
        font-weight: 900;
        font-size: 30px;
        color: var(--blueD)
      }
      
      .form {
        margin-top: 20px;
        width:100%;
      }
      
      .form .input {

        width: auto;
        background-color: var(--white);
        height: 50px;
        font-size: 22px;
        outline: none;
        border: none;
        border-bottom: 5px solid var(--blueD);
        margin:10px 0 10px 0;
      }
      
      .form .input::-moz-placeholder {
        color: var(--blueD);
      }
      
      .form .input::placeholder {
        color: var(--blueD);
      }
      
      .form .input:focus {
        outline: none;
        border-inline: 2px solid var(--blueL);
      }
      
      .form .forgot-password {
        display: block;
        margin-top: 10px;
        margin-left: 10px;
      }
      
      .form .forgot-password a {
        font-size: 11px;
        color: var(--blueD);
        text-decoration: none;
      }
      
      
      .form .login-button {
        display: block;
        width: 100%;
        font-weight: bold;
        background: var(--blueD);
        color: white;
        padding-block: 15px;
        margin: 20px auto;
        border-radius: 20px;
        box-shadow: var(--blueL) 0px 20px 10px -15px;
        border: none;
        transition: all 0.2s ease-in-out;
      }
      
      .form .login-button:hover {
        transform: scale(1.03);
        box-shadow: var(--blueL) 0px 23px 10px -20px;
      }
      
      .form .login-button:active {
        transform: scale(0.95);
        box-shadow: var(--blueL) 0px 15px 10px -10px;
      }
      
      .social-account-container {
        margin-top: 25px;
        display: flex;
        flex-direction: column;
      }
      
      .social-account-container .title {
        display: block;
        text-align: center;
        font-size: 10px;
        color: var(--blueD);
        justify-content: center;
      }
      
      .social-account-container .social-accounts {
        
        display: flex;
        justify-content: center;
        gap: 15px;
        margin-top: 5px;
      }
      
      .social-account-container .social-accounts .social-button {
        background: linear-gradient(45deg, var(--blueD) 0%, var(--blueL) 100%);
        border: 5px solid white;
        padding: 5px;
        border-radius: 50%;
        width: 40px;
        aspect-ratio: 1;
        margin: auto;
        display: grid;
        place-content: center;
        box-shadow: var(--blueL) 0px 12px 10px -8px;
        transition: all 0.2s ease-in-out;
      }
      
      .social-account-container .social-accounts .social-button .svg {
        fill: white;
        margin: auto;
      }
      
      .social-account-container .social-accounts .social-button:hover {
        transform: scale(1.2);
      }

      .social-account-container .social-accounts .social-button:active {
        transform: scale(0.9);
      }
      
    /*   */



    .register-container{
        background-color: var(--white);
        padding: 20px;

    }

    .login-form{
        max-width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    .form .input{
        margin-left: 25px;
    }

.container{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    transform-style:preserve-3d;
    transition: transform .1s linear;
}

.login-container , .register-container{
    position: absolute;
    backface-visibility: visible;
}

.register-container{
    transform: rotateY(180deg);
    backface-visibility: hidden;
}
.login-container{
    transform: rotateY(0deg);
}

.rotated{
    transform: rotateY(180deg);
}
.register{
    cursor: pointer;
}

/* test import */
.hamburger {
    cursor: pointer;
    width:60px;
  }
  
  .hamburger input {
    display: none;
  }
  
  .hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 60px;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .line-top-bottom {
    stroke-dasharray: 12 63;
  }
  
  .hamburger input:checked + svg {
    transform: rotate(-45deg);
  }
  
  .hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }
  


.bienvenida{
    width: 80%;
    text-align: center;
    margin: 10px auto;
    color: var(--blueD);
    margin-bottom:30px
}

.tarifas{
    width: 90%;
    margin: 10px auto;
    text-align: center;
    color: var(--blueD);
    margin-bottom:30px
}
.tarifas label{
    display: flex;
    justify-content: space-around;
}
.tarifas p,.tarifas s{
    text-decoration: none;
    display: inline-block;
}
.croquis{
    display: flex;
    color: var(--blueD);
    text-align: center;
    margin-bottom:30px
}
.croquis img{
    margin-top: 30px;
    width: 90vw;
    height: auto;
}
  
nav{
    background-color: var(--blueD);
    width: 100vw;
    height:13vh;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
}
.menu-button{
    height:8vh;
    margin: auto;
    width:50%;
    background-color: var(--white);
    border:none;
    border-radius: 7px;
    font-size: 22px;
    color:var(--blueD);
    transition: box-shadow .07s linear;
    text-align: center;
    align-content: center;
    text-decoration: none;
}
.menu-button:hover{
    box-shadow: 2px 2px 2px var(--blueL) inset ;
}
.menu-button:active{
    box-shadow: 5px 5px 5px var(--blueL) inset ;
}


.li{
    color: var(--white);
    text-decoration: none;
    transition: font-size  .1s linear;
}
.li:hover{
    font-size: 46px;
}
.li:active{
    
    font-size: 50px;
}
img{
    width:100px;
    height:90px;
    margin: auto;
}
main{
    height: auto;
    max-width:100vw;
    background-color: #E7ECEF;
    overflow: hidden;
}
.bg{
    position: absolute;
    width: auto;
    height: inherit;
    filter: blur(3px);
}
.bg1{
    right: 0;
}
article{
    position: relative;
    overflow: hidden;
    height: 400px;
    width: 100vw;
    display: flex;
}
.capa{
    position: absolute;
    background-color: var(--blueL);
    width: 100%;
    height: inherit ;
    opacity: .7;
}
.capa1{
    background-color: var(--white);
}
article a, article p{
    position: absolute;
    flex-wrap: wrap;
}
.texto1{
    color: var(--blueD);
}

article p{
    color: var(--white);
    width:70%;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    left: 0;
    right: 0;
    top:70px
}
article a{
    bottom: 40px;
    left: 0;
    right: 0;
    
}


footer{
    background-color: var(--blueD);
    height:10vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
footer div{
    font-size: 20px;
    color: var(--white);
}


.menu{
    font-size: 45px;
    width:100%;
    height: 50px;
    align-self: center;
    color: var(--white);
    display: flex;
    text-align: center;
    justify-content: center;
}
.contenidos{
    height: calc(87vh);
    width:100vw;
    background-color: var(--blueL);
    position: absolute;
    position: fixed;
    top:13vh;
    color: var(--white);
    font-size: 35px;
    border-top: 2px solid var(--white);
}
.contenidos ul{
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.oculto{
    display: none;
}
.ventana{
    position: relative;
    width: 100vw;
    height: 750px;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    font-size: 22px;
}
.selector{
    width: 100vw;
    height: 70px;
    background-color: var(--blueL);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
}
.selector strong{
    color: var(--white);
    font-weight: normal;
    font-size: 35px;
    text-align: center;

}
.ventana .imagen{
    width:200px;
    height:200px;
    margin:30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    background-color: #f3f3f3;
}
.ventana .imagen img{
    width: 75%;
    height:75%;
    margin: auto;
}
.cp-input{
    flex-direction: column;
    
    justify-content: center;
}
label{
    color: var(--blueD);
    display: flex;
    text-align: center;
    margin-bottom: 7px;
}
label input{
    color:var(--blueL);
    margin: auto;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
    width:50vw;
    border: none;
    border-bottom: 4px solid var(--blueL);
    transition: border .1s linear;
}
label input:focus{
    outline: none;
    border-bottom: 4px solid var(--Black);
}

.button{

    width:50vw;
    height:45px;
    font-size: 22px;
    background-color: var(--blueD);
    color: var(--white);
    border: none;
    border-radius: 10px;
    
    transition: font-size .1s linear;
}
.cp{
   
    position: absolute;
   
    bottom: 20px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
.button:hover{
    font-size: 23px;
}
.button:active{
    font-size: 25px;
}


section{
    color: var(--blueD);
    border:2px var(--blueL) solid;
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: relative;
    height:60px;
}

section p {
    display: inline-block;
    margin-left: 10px;
}
section b{
    display: inline-block;
}
.au{
    position: absolute;
    right: 10px;
}
.extra{
    display: none;
}
.ae-input{
    font-size: 25px;
    height: 60px;
    padding: 15px;
    align-items: center;
    
}

.ventana div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.input-p {
    margin-left: 20px;
}
.ae-input input{
    width:60px;
    position: absolute;
    right: 40px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}
.ae-button{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.motd{
    flex-direction: column;
    height: 150px;
}
textarea{
    
    margin-top: 15px;
    width: 300px;
    min-height: 100px;
    background-color: var(--blueL);
    border: none;
    border-radius: 20px;
    padding: 13px;
    font-size: 19px;
    color: var(--white);
}
textarea:focus{
    outline: none;
    box-shadow: 0 0 15px var(--blueD) inset;
}

.horario{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
}
.horario section{
    height: auto;
    display: flex;
    flex-direction: column;
}
.horario section strong{
    font-weight: normal;
    font-size: 25px;
}
.dato{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;
}

.ah-button{
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}
.ah-crear{
    width:80%;
    height: 50px;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
}
.ah-crear:hover{
    font-size: 33px;
}
.ah-crear:active{
    font-size: 37px;
 }
.no-border{
    border: none;
}

.aa-button{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.aa-section{   
    justify-content: space-around;
}

@media only screen and (min-width: 1200px) {
    body{
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    main{
        display: flex;
        height: 900px;
    }
    footer{
        margin: 0;
    }
    article{
        margin-top: 10vh;
        display: flex;
        height: inherit;
        max-width: 100%;
    }
    .capa{
        display: flex;
    }
    article p{
        top: 40vh;
    }
    article .menu-button{
        bottom: 20vh;
    }
    
    nav{
        display: none;
        margin-top: 0;
    }
    li{
        font-size: 35px;
    }

    .principal{
        display: flex;
    }



    body{
        width: 100vw;
        top: 0;
        left: 0;
        padding: 0;
        margin: 0;
        margin-top: 0;
    }
    .ventana {
        width: calc(100vw - 305px);
        margin-left: 305px;
        overflow: hidden;
    }
    .logg{
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        margin-left: 0;
    }
    .selector{
        margin-top: 0;
        min-width:250px;
        max-width: 500px;
        width: 400px;
        margin-left: 320px;
    }

    .oculto{
        position: fixed;
        display: flex;
        height: 100vh;
        width:290px;
        top:0;
        left: 0;
        border-top: 0;
    }
    footer{
        display: flex;
        flex-direction:row;
        align-items: center;
        max-width: 100%;
    }
    .ventana div{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .datos{
        justify-content: center;
        align-items: center;
        width: 60%;
    }

    .datos input{
        width:400px;
    }

    .cp{
        top:60vh;
        width: 200px;
        margin: 0;
        left: 30vw;
    }

    
    .ventana{
        display: flex;
        flex-direction: row;
        height: 90vh;
        
    }
    .perfil{
        padding-bottom: 170px;
        align-items: center;
    }


    .vertical{
        flex-direction: column;
        overflow: visible;
    }
    .extra{
        display: block;
    }
    .au{
        width:200px;
        right: 60px;
    }
    .ventana .espacio{
        padding: 0 150px;
        height: 100%;
        display: flex;
    }
    .ae-input input{
        right: 200px;
    }
    .motd{
        height: 350px;
    }
    textarea{
        min-height: 300px;
    }
    .ae-button{
        position: absolute;
        top:-90px;
        right: 100px;
        width:350px;
        height:50px;
    }
    .at{
        
        width: calc(100vw - 305px);
        margin-left: 305px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .at div{
        display: flex;
        justify-content: space-around;
        width: 50%;
        height: 100%;

    }
    .motd p{
        margin-bottom: 40px
    }

    .at div input{
        right:700px;
        width:100px;
    }

    .ventana .horario{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 20px;
        margin-bottom: 20px;
        align-items: center;
    }

    .ah{
        display: flex;
        width:60%;
        margin: 0;
        padding: 0;
        height: auto;
        align-items: center;
    }
    .ah-button{
        width: 300px;
    }
    .bajo{
        margin-top: 30px;
    }
    .mprincipal{
        flex-direction: column;
        overflow: scroll;
    }
    
    .bienvenida{
        width: 100%;
        margin: 70px 0 150px 0;
    }

    .ventana .tc{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .tc div{
        width: 50%;
    }
    .croquis img{
        width: 90%;
    }
    
}