
<main>
    <article>
        <img src="parqueadero1.png" class="bg">
        <div class="capa1 capa"></div>
        <p class="texto1">contenido generado para relleno de la página</p>
        <a href="cliente/principal" class="menu-button">Iniciar Sesion</a> <!-- por ahora sirve para clientes-->
    </article>
    <article>
        <img src="parqueadero1.png" class="bg bg1">
        <div class="capa"></div>
        <p>contenido generado para relleno de la página</p>
        <a href="admin/principal" class="menu-button">Iniciar Sesion</a><!-- por ahora sirve para Administradores-->
    </article>
</main>
<footer>
    <div>
        informacion de estudiantes a cargo
    </div>
    <div>
        información de la universidad y proyecto
    </div>
</footer>


<nav>
    <img src="Logo.png">

    <link>
    <a class="menu-button">Iniciar Sesion</a>
</nav>