<div class="selector">
  <strong>Menú principal</strong>
</div>

<div class="ventana mprincipal">
  <article class="datos-bienvenida">
      <article class="bienvenida">
          <p>Bienvenido {{nombre}}, el estado actual del parqueadero es {{estado}}</p>
      </article>
      <article class="bienvenida">
          <p>{{motd}}</p>
      </article>
      <button class="cp button ae-button absoluto entrar" (click)="desplegarEntrar()">Entrar</button><br>
      <button class="cp button ae-button reservar" (click)="desplegarReservar()">Reservar</button>
  </article>

  <div class="tc">
      <div class="tarifas">
          <h2>Tarifas</h2>
          <div *ngFor="let tarifa of tarifas">
              <label>
                  <p>{{ tarifa.descripcion }} horas</p>
                  <s>${{ tarifa.precio }}</s>
              </label><br>
          </div>
      </div>
      <div class="croquis">
          <h2>Croquis</h2>
          <img src="croquis.webp" alt="croquis">
      </div>
  </div>

  <app-parqueadero></app-parqueadero>
</div>

<app-parqueadero class="absolute parking-hidden" #entrar></app-parqueadero>
<app-parqueadero class="absolute parking-hidden" #reservar></app-parqueadero>


<app-pop-ups></app-pop-ups>
<app-confirm-dialogs></app-confirm-dialogs>

<app-menu-c></app-menu-c>

