

<!--Contenidos-->
<div class="contenido">

    







</div>












<!--Menu-->
<nav>
    <div class="menu" (click)="swvisible()">
        III
    </div>
</nav>
<div class="contenidos oculto" #menu>
    <ul>
        <li><a class="li" href="">Inicio</a></li>
        <li><a class="li">Menu principal</a></li>
        <li><a class="li" href="li">Usuarios</a></li>
        <li><a class="li">Gestion Espacio</a></li>
        <li><a class="li">Gestion Tarifas</a></li>
        <li><a class="li">Horarios de Atencion</a></li>
        <li><a class="li" href="li">Arriendos</a></li>
    </ul>
</div>

